<table class="w-full">
  <tr>
    <td>
    <table class="w-full bg-[#F0F5F5]">
      <tr>
        <td class="py-10 px-5 xs:px-0">
          <table class="w-full">
            <tr>
              <td class="font-primary text-2xl font-bold text-[#005555] text-center leading-[27.6px] px-5 pb-8">
                Sint cupidatat occaecat ut
              </td>
            </tr>
            <tr>
              <td>
                <table class="w-full">
                  <tr class="grid grid-cols-2 xs:grid-cols-1 gap-5 sm:gap-9 border border-gray-300">
                    <td class="bg-white xs:mx-5">
                      <table class="w-full">
                        <tr>
                          <td class="text-center py-5">
                            <img src="Icon.png" src-production="images/Icon.png" width="100" alt="Icon">
                          </td>
                        </tr>
                        <tr>
                          <td class="font-primary text-xl font-bold text-[#005555] text-center leading-[23px] px-6 pb-5">
                            Nisi ut ade
                          </td>
                        </tr>
                        <tr>
                          <td class="font-primary text-base font-normal text-[#444444] text-center leading-[18.4px] px-6 xs:px-6 pb-8">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup class="relative top-[-0.2em] text-[8px] leading-[10px]">1</sup>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="bg-white xs:mx-5">
                      <table class="w-full">
                        <tr>
                          <td class="text-center py-5">
                            <img src="Icon.png" src-production="images/Icon.png" width="100" alt="Icon">
                          </td>
                        </tr>
                        <tr>
                          <td class="font-primary text-xl font-bold text-[#005555] text-center leading-[23px] px-6 pb-5">
                            Duis aute irure
                          </td>
                        </tr>
                        <tr>
                          <td class="font-primary text-base font-normal text-[#444444] text-center leading-[18.4px] px-6 xs:px-6 pb-8">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup class="relative top-[-0.2em] text-[8px] leading-[10px]">2</sup>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
