<table class="w-full">
  <tr>
    <td>
    <table class="w-full bg-white">
      <tr>
        <td class="py-5 px-5">
          <table class="w-full">
            <tr>
              <td class="w-[110px]">
                <a href="#" target="_blank">
                <img src="Header Logo.png" src-production="images/Header Logo.png" width="110" alt="HeaderLogo">
                </a>
              </td>
              <td class="w-[20px] xs:w-[10px]">&nbsp;</td>
              <td class="w-[430px] xs:w-[210px] font-primary text-xs leading-[13.8px]">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco<br class="block xs:hidden"> laboris nisi ut aliquip ex ea commodo consequat.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
